doctype html
html
  head
    title Inventory Management System
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') HCL Infosystems
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            if !user
              li(class=(title=='login'?'active':''))
                a(href='/users/login') Login
              li(class=(title=='register'?'active':''))
                a(href='/users/register') Register
            if user
              li(class=(title=='Dashboard'?'active':''))
                a(href='/dashboard') Dashboard
              if user
                li(class=(title=='create'?'active':''))
                  a(href='/users/create') Register User
                li(class=(title=='modify'?'active':''))
                  a(href='/modify') Modify
                li(class=(title=='add'?'active':''))
                  a(href='/inventory/add') Add Inventory
          if user
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/users/logout')
                  | Logout
                  span.sr-only (current)
    .container
      != messages()
      block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='javascripts/bootstrap.js')
