extend layout

block content
  h3(style="align:center") SEARCH INVENTORY
  hr
  div(id='searchInventory')
    p Please enter the Serial Number to Search 
    form(method='post', action='/inventory/search')
     .form-group
      label Serial Number
      input.form-control(name='serial', type='text', placeholder='Enter Serial Number')
     input.btn.btn-primary(type='submit', name='submit',value='Search Inventory')
