body{
  background-color: #94DBA7 !important;
}

ul.success li{
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    list-style: none;
}

ul.error li{
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
 	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    list-style: none;
}

#login{
  width:350px;
}

#register{
  width: 450px;
}

.group{
  margin: 15px;
}

.data{
  float: left;
  width: 80%;
  background-color: #BEC7E9;
  height: 35px;
  padding: auto;
  border: 1px solid #81A2D5;
  text-align: center;
  vertical-align: middle;
  font-size:16px;
  line-height: 35px;
}

.heading{
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  float: left;
  width: 20%;
  height: 35px;
  background-color: #4BA3C3;
  font-size: 16px;
  font-weight: bolder;
  border: 1px solid #399688;

}
